table {
    border: 0 solid white;
    border-collapse: collapse;
    font-family: sans-serif, Tahoma;
}

td {
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
}

select {
    width: 120px;
    height: 25px;
}
input {
    height: 20px;
}

td.button {
    vertical-align: bottom;
}
button {
    height: 25px;
}

p {
    padding-left: 10px;
    color: blue;
}